


<div class="row">

   
    

    <div class="col-md-4" id="hello" class="card card-container" style="background-color:white;">
      <h4 style="text-align: center;color: red;">  Add Prescription </h4>
      <br>
      <form #f="ngForm"
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        
        novalidate
      >
<!-- 
        // ID    -->
        
        <div class="form-group">
            <label  style="color:red;" for="form.date"> <h6> ID</h6></label>
            <input
              type="text"
              class="form-control"
              name="id"
              [(ngModel)]="form.pid"
              required
              #id="ngModel"
            />
            <div class="alert-danger" *ngIf="id.errors && f.submitted">
              <div *ngIf="id.errors.required"> <h6 > Id is required </h6></div>
            </div>
          </div>  

        






        
        <div class="form-group">
          <label  style="color:red;" for="form.date"> <h6> Prescription </h6></label>
          <input
            type="text"
            class="form-control"
            name="slot"
            [(ngModel)]="form.prescription"
            required
            #date="ngModel"
          />
          <div class="alert-danger" *ngIf="date.errors && f.submitted">
            <div *ngIf="date.errors.required"> <h6 > Prescription is required </h6></div>
          </div>
        </div>

         
        <div class="form-group" >
          <button style = "background-color: red;"   (click)="onSubmit()"   class="btn btn-primary btn-block"><h6>Store Details</h6>
          </button>
        </div>
  
          
        <div class="form-group" >
          <button style = "background-color: red;"   (click)="onSubmit()"   class="btn btn-primary btn-block"><h6>Update Details</h6>
          </button>
        </div>            



        <br>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
         Storing details failed!<br />{{ errorMessage }}
        </div>
      </form> 
    </div>

   <div  class="col-md-8" >

    <button (click)="logout()">  Logout </button>

      <br>
      <table style="width: 150px; border-color:black;border-width:3px;" >
          <thead style="background-color: red;">
              <tr style="color:white">
                  <th>Patient ID</th>
                  <th>Patient Name</th>
                  <th>Email Id</th>
                  <th>Symptoms</th>
                  <th>Age</th>
                  <th>Prescription</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tempDonor of donors">
                <td>{{tempDonor.pid}} </td>
                <td>{{tempDonor.pname}}</td>
                <td>{{tempDonor.emailid}}</td>
                <td>{{tempDonor.symptoms}}</td>
                <td>{{tempDonor.age}}</td>
                <td>{{tempDonor.prescription}}</td>
                <td><button type="button"  href="#hello" (click) = edit(tempDonor)  class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
                  Edit
              </button></td>
          <td> <button id="remove"  (click)="onDelete(tempDonor.pid)"   class="btn btn-primary "><h6>Accept </h6>
          </button>
        </td>
                  <td><button type="button" class="btn btn-danger" (click) = "clear()"
                    >Clear</button></td>
            </tr>
        </tbody>
     
      </table>

    </div>
    
      
  

</div>