<div  id="app">
  <nav class="navbar navbar-expand navbar-dark " style="background-color: #0E86D4;">
    <a href="#" class="navbar-brand" >E-Learning</a>
    
    <ul  class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a style="color: rgb(247, 241, 241);" href="admin/donormg" class="nav-link" routerLink="admin/donormg"><b>Donor Management</b></a>
      </li>
      <li class="nav-item">
        <a style="color: rgb(247, 241, 241);" href="admin/usermg" class="nav-link" routerLink="admin/usermg"><b>User Management</b></a>
      </li>
    </ul>


  </nav>


  
  
  <div  class="container">
    <router-outlet></router-outlet>
  </div>
</div>
